/*estilos universales*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto"; }

/*estilos base*/
body {
  background-color: #029cdc;
  background-image: url(../Img/Fondocortado.jpg);
  /*estilos header*/ }
  body .Portada {
    background-image: linear-gradient(#df4b04, black);
    display: flexbox;
    justify-content: space-around;
    align-items: center; }
    body .Portada .titulo {
      display: flex;
      justify-content: center;
      padding: 10px 0px 0px 0px; }
      body .Portada .titulo h1 {
        text-align: center;
        font-size: 50px;
        color: #f4560c; }
      body .Portada .titulo .imagen-titulo {
        display: flex;
        height: 60px;
        width: 375px; }
    body .Portada .navbar {
      background-color: transparent !important;
      padding: 10px 25px; }
      body .Portada .navbar a {
        text-decoration: none;
        color: white !important; }
        body .Portada .navbar a .img__logo {
          height: 30px;
          width: 30px;
          border-radius: 8px; }
  body h2 {
    margin: 10px; }
  body main {
    padding: 25px;
    /*estilos main*/
    /*estilos pagina 4*/
    /*estilos pagina 5*/
    /*estilos footer*/ }
    body main .Noticias {
      display: grid;
      grid-row-gap: 1px; }
      body main .Noticias article {
        border: 1px solid black;
        display: grid;
        grid-template-columns: 8fr 1fr;
        height: 120px;
        transition: height 0.5s; }
        body main .Noticias article:hover {
          height: 200px; }
        body main .Noticias article .Texto__Noticia h3 {
          margin: 5px 10px; }
        body main .Noticias article .Texto__Noticia p, body main .Noticias article .Texto__Noticia h3 {
          margin: 5px; }
        body main .Noticias article .Imagen__Noticia {
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden; }
    body main p, body main h3 {
      margin: 10px; }
    body main .introduccion {
      display: flex;
      align-items: center; }
    body main .Descripcion__Nosotros {
      display: flex;
      justify-content: space-around; }
    body main .Redes__Sociales {
      display: grid;
      grid-template-rows: repeat(3 1fr);
      grid-row-gap: 25px; }
      body main .Redes__Sociales a {
        text-decoration: none; }
        body main .Redes__Sociales a .Redes {
          display: grid;
          grid-template-columns: 1fr 8fr; }
          body main .Redes__Sociales a .Redes .Img__Redes {
            padding: 5px;
            width: 160px;
            height: 160px;
            justify-content: center;
            align-items: center;
            overflow: hidden; }
          body main .Redes__Sociales a .Redes .Descripcion__Redes {
            display: flex;
            align-items: center;
            padding: 50px; }
    body main .persona {
      padding: 5px;
      height: 400px;
      display: grid;
      grid-template-columns: 1fr 5fr; }
      body main .persona .imagen-persona {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden; }
      body main .persona .descripcion-persona {
        padding: 20px; }
    body main footer, body main .Btn__Formulario {
      display: flex;
      justify-content: flex-end; }

body {
  /*estilos mobile*/ }
  @media screen and (max-width: 768px) {
    body {
      /* main */
      /* main y pagina 3 */
      /* pagina 4 */ }
      body .Portada h1 {
        font-size: 35px; }
      body .Portada .Taza {
        height: 25px;
        width: 25px; }
      body article {
        display: grid;
        grid-template-rows: 80% 20%;
        grid-template-columns: 1fr;
        overflow: hidden;
        height: 500px; }
        body article .Imagen__Noticia {
          order: -1; }
          body article .Imagen__Noticia img {
            width: 100%; }
      body .Descripcion__Nosotros {
        display: grid;
        grid-row-gap: 50px; } }
