/*estilos universales*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto"; }

/*estilos base*/
body {
  background-color: #029cdc;
  background-image: url(../Img/Fondocortado.jpg);
  /*estilos header*/ }
  body header .Portada {
    background-image: linear-gradient(#df4b04, black);
    display: flexbox;
    justify-content: space-around;
    align-items: center; }
    body header .Portada .titulo {
      display: flex;
      justify-content: center;
      padding: 10px 0px 0px 0px; }
      body header .Portada .titulo h1 {
        text-align: center;
        font-size: 50px;
        color: white; }
      body header .Portada .titulo .imagen-titulo {
        display: flex;
        height: 60px;
        width: 375px; }
    body header .Portada .navbar {
      background-color: transparent !important;
      padding: 10px 25px; }
      body header .Portada .navbar a {
        text-decoration: none;
        color: white !important; }
        body header .Portada .navbar a .img__logo {
          height: 30px;
          width: 30px;
          border-radius: 8px; }
  body main {
    padding: 50px;
    /*estilos pagina 4*/
    /*estilos pagina 5*/
    /*estilos footer*/ }
    body main .ultimo-capitulo {
      padding: 0px 0px 50px 0px; }
      body main .ultimo-capitulo h2 {
        margin: 10px; }
    body main .Noticias {
      display: grid;
      grid-row-gap: 10px; }
      body main .Noticias article {
        border: 1px solid black;
        border-radius: 5px;
        display: grid;
        grid-template-columns: 8fr 1fr;
        height: 120px;
        transition: height 0.5s; }
        body main .Noticias article:hover {
          height: 200px;
          width: 101%; }
        body main .Noticias article a {
          text-decoration: none;
          color: black; }
          body main .Noticias article a .Texto__Noticia h3 {
            margin: 5px 10px; }
          body main .Noticias article a .Texto__Noticia p, body main .Noticias article a .Texto__Noticia .contacto h3, body main .contacto .Noticias article a .Texto__Noticia h3 {
            margin: 5px; }
        body main .Noticias article .Imagen__Noticia {
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden; }
    body main p, body main .contacto h3 {
      margin: 10px; }
    body main .introduccion {
      padding: 20px 0px 50px; }
    body main .Descripcion__Nosotros {
      display: flex;
      justify-content: space-around; }
    body main .contacto {
      padding: 25px 0px; }
      body main .contacto h2 {
        padding: 20px 0px; }
    body main .Redes__Sociales {
      display: grid;
      grid-template-rows: repeat(3 1fr);
      grid-row-gap: 25px; }
      body main .Redes__Sociales a {
        text-decoration: none; }
        body main .Redes__Sociales a .Redes {
          display: grid;
          grid-template-columns: 1fr 8fr; }
          body main .Redes__Sociales a .Redes .Img__Redes {
            padding: 5px;
            width: 160px;
            height: 160px;
            justify-content: center;
            align-items: center;
            overflow: hidden; }
          body main .Redes__Sociales a .Redes .Descripcion__Redes {
            display: flex;
            align-items: center;
            padding: 50px; }
    body main .Formulario {
      padding: 50px 0px; }
      body main .Formulario h3 {
        padding: 10px 0px; }
    body main .persona {
      padding: 5px;
      height: 400px;
      display: grid;
      grid-template-columns: 1fr 5fr; }
      body main .persona .imagen-persona {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden; }
      body main .persona .descripcion-persona {
        padding: 20px; }
    body main .pagina-noticia {
      display: grid;
      grid-template-columns: repeat(3, 1fr); }
      body main .pagina-noticia .detalle-noticia {
        grid-area: 1/2; }
      body main .pagina-noticia .img-detalle-noticia {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden; }
      body main .pagina-noticia .btn-end-detalle-noticia {
        grid-column-start: 2; }
    body main footer, body main .Formulario .btn-end, body main .Formulario .pagina-noticia .btn-end-detalle-noticia, body main .pagina-noticia .Formulario .btn-end-detalle-noticia {
      display: flex;
      justify-content: flex-end; }

body {
  /*estilos mobile*/ }
  @media screen and (max-width: 768px) {
    body {
      /* main */ }
      body main {
        padding: 20px;
        /* main y pagina 3 */
        /* pagina 4 */ }
        body main h1 {
          font-size: 30px; }
        body main .Noticias article {
          display: grid;
          grid-template-rows: 80% 20%;
          grid-template-columns: 1fr;
          overflow: hidden;
          height: 500px; }
          body main .Noticias article .Imagen__Noticia {
            order: -1; }
            body main .Noticias article .Imagen__Noticia img {
              width: 100%; }
        body main .introduccion iframe {
          width: 100%; }
        body main .Descripcion__Nosotros {
          display: grid;
          grid-row-gap: 50px; }
        body main .persona {
          height: auto;
          grid-template-columns: 1fr;
          grid-template-rows: 40% 50%; } }
