/*estilos universales*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}


/*estilos header*/

.Portada{
    display: flex;
    background-color: white;
    justify-content: space-around;
    align-items: center;
}

h1{
    text-align: center;
    font-size: 150px;
    color: rgb(2, 156, 220);
}

.Taza{
    display: flex;
    height: 100px;
}

.navbar{
    background-color: rgb(0, 39, 62) !important;
}

a{
    text-decoration: none;
    color: white !important;
}

.img__logo{
    height: 30px;
    border-radius: 8px;
}

/*estilos main*/

h2{
    margin: 10px;
}

body{
    background-color: rgb(2, 156, 220) ;
    background-image:url(../Img/Fondocortado.jpg);
}

.Noticias{
    display: grid;
    grid-row-gap: 1px;
}

article{
    border: 1px solid black;
    display: grid;
    grid-template-columns: 8fr 1fr;
    height: 120px;
    transition: height 0.5s;
}

article:hover{
    height: 200px;
}

.Texto__Noticia h3{
    margin: 5px 10px;
}

.Texto__Noticia p{
    margin: 5px;
}

.Imagen__Noticia{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


/*estilos footer*/

footer{
    display: flex;
    justify-content: flex-end;
}


/*estilos pagina 4*/

.Descripcion__Nosotros{
    display: flex;
    justify-content: space-around;
}

p, h3{
    margin: 10px;
}


/*estilos pagina 5*/

.Redes__Sociales{
    display: grid;
    grid-template-rows: repeat(3 1fr);
    grid-row-gap: 25px;
}

.Redes{
    display: grid;
    grid-template-columns: 1fr 8fr;
}

.Img__Redes{
    padding: 5px;
    width: 160px;
    height: 160px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.Descripcion__Redes{
    display: flex;
    align-items: center;
    padding: 50px;
}

.Btn__Formulario{
    display: flex;
    justify-content: flex-end;
}


/*estilos mobile*/

@media screen and (max-width: 768px) {

    /* main */

    h1{
        font-size: 35px;
    }

    .Taza{
        height: 25px;
    }

    .Menu__Barra{
        display: flex;
        flex-direction: column;
        height: 150px;
    }

    .btn__menu{
        width: 80px;
        justify-content: center;
    }

    /* main y pagina 3 */

    .Imagen__Noticia{
        order: -1;
    }

    .Imagen__Noticia img{
        width: 100%;
    }

    article{
        grid-template-rows: 80% 20%;
        grid-template-columns: none;
        overflow: hidden;
        height: 500px;
    }

    /* pagina 4 */

    .Descripcion__Nosotros{
        display: grid;
        grid-row-gap: 50px;
    }

}

/*estilos tablet*/

@media screen and (min-width: 769px) and (max-width: 1200px){

    /* main */

    h1{
        font-size: 75px;
    }

    .Taza{
        height: 50px;
    }

    .Imagen__Noticia img{
        width: 100%;
        height: 100%;
    }
}

/*estilos escritorio*/

@media screen and (min-width: 1201px) {

    /* main */

    .Imagen__Noticia img{
        width: 100%;
    }

    /* pagina 5 */

    .Redes__Sociales{
        display: flex;
        justify-content: space-around;
    }

    .Formulario{
        padding: 10px 300px;
    }
}