/*estilos universales*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

/*estilos header*/

.Portada{
    display: flex;
    background-color: white;
    justify-content: space-around;
    align-items: center;
}

h1{
    text-align: center;
    font-size: 150px;
    color: rgb(2, 156, 220);
}

.Taza{
    display: flex;
    height: 100px;
}

.Menu__Barra{
    display: flex;
    height: 40px;
    background-color: rgb(0, 39, 62); 
    position: sticky;
    top: 0px;
}

.btn__menu{
    display: inline-flex;
    align-items: center;
    height: 40px;
    background-color: white;
    margin: 0px 5px;
    padding: 3px;
    border: solid black 3px;
    border-radius: 10px;
    overflow: hidden;
}

a{
    text-decoration: none;
}

.img__logo{
    height: 30px;   
}

/*estilos main*/

h2{
    margin: 10px;
}

body{
    background-color: rgb(2, 156, 220) ;
    background-image:url(../Img/Fondocortado.jpg);
}

.Noticias{
    display: grid;
    grid-row-gap: 1px;
}

article{
    border: 1px solid black;
    display: grid;
    grid-template-columns: 8fr 1fr;
    height: 120px;
    transition: height 0.5s;
}

article:hover{
    height: 200px;
}

.Texto__Noticia h3{
    margin: 5px 10px;
}

.Texto__Noticia p{
    margin: 5px;
}

.Imagen__Noticia{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


/*estilos footer*/

footer{
    display: flex;
    justify-content: flex-end;
}



/*estilos pagina 3*/

.Descripcion__Nosotros{
    display: grid;
    grid-template-rows: repeat(3 1fr);
    grid-row-gap: 100px;
}

.Persona{
    display: grid;
    grid-template-columns: 1fr 8fr;
}

p, h3{
    margin: 10px;
}


/*estilos pagina 4*/

.Redes__Sociales{
    display: grid;
    grid-template-rows: repeat(3 1fr);
    grid-row-gap: 100px;
}

.Redes{
    display: grid;
    grid-template-columns: 1fr 8fr;
}

.Img__Redes{
    width: 100px;

}


/*estilos mobile*/

@media screen and (max-width: 500px) {

    /* main */

    h1{
        font-size: 35px;
    }

    .Taza{
        height: 25px;
    }

    .Menu__Barra{
        display: flex;
        flex-direction: column;
        height: 150px;
    }

    .btn__menu{
        width: 80px;
        justify-content: center;
    }

    /* main y pagina 3 */

    .Imagen__Noticia{
        order: -1;
    }

    .Imagen__Noticia img{
        width: 100%;
    }

    article{
        grid-template-rows: 80% 20%;
        grid-template-columns: none;
        overflow: hidden;
        height: 500px;
    }

    /* pagina 4 */

    .Persona{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: none;
    }
}

/*estilos tablet*/

@media screen and (min-width: 760px) and (max-width: 1024px){

    /* main */

     h1{
        font-size: 75px;
    }

    .Taza{
        height: 50px;
    }

    .Imagen__Noticia img{
        width: 100%;
        height: 100%;

    }

    /* pagina 4 */

    /* .Persona{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: none;
    } */

}

/*estilos escritorio*/

@media screen and (min-width: 1024px) {

    /* main */

    .Imagen__Noticia img{
        width: 100%;
    }
}